.portfolio {
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
    & .projects {
      margin-top: 30px;
      &-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        &-title {
          margin-top: 10px;
          font-size: 20px;
          line-height: 24px;
          font-weight: 500;
        }
        &-links {
          display: flex;
          justify-content: center;
          align-items: center;
          & a {
            margin: 0 5px;
          }
        }
        &-image {
          display: flex;
          justify-content: center;
          & img {
            width: 80%;
            height: 180px;
            border-radius: 0 20% 0 20%;
          }
        }
      }
    }
  }
  
  .dark {
    & h3 {
      color: #fff;
    }
  }
  
  @media screen and(max-width:768px) {
    .portfolio {
      margin-bottom: 50px;
      & .projects {
        &-card {
          &-title {
            font-size: 15px;
          }
          & a {
            font-size: 12px;
          }
          &-image {
            & img {
              width: 80%;
              height: 180px;
            }
          }
        }
      }
    }
  }